@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin display-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}