/************ COLOR *****************/
$primary-color: #4e73df;
$secondary-color: #f39c12;
$text-light: rgb(250, 239, 239);
$text-dark: rgb(29, 27, 27);
$bg-dark: rgb(29, 27, 27);
$bg-light: rgb(250, 239, 239);
/************ COLOR *****************/

/************ RADIUS *****************/
$border-radius: 50%;
/************ RADIUS *****************/