/************ COLOR *****************/
$primary-color: #4e73df;
$secondary-color: #f39c12;
/************ COLOR *****************/

/************ RADIUS *****************/
$border-radius: 50%;
/************ RADIUS *****************/